* {
    margin: 0;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

a {
    display: block;
    background-color: #0000;
    width: 50vw;
    height: 100vh;
    color: #f0eaf0;
    text-shadow: 0 0 0.2em purple;
    box-shadow: 0 0 30px 30px black inset;
    font-size: 10em;
    text-decoration: none;
    text-align: center;
    line-height: 100vh;
    z-index: 100;
}

span {
    transition: all 0.7s ease;
}

.gate {
    position: fixed;
    height: 100vh;
    width: 50vw;
    display: flex;
    overflow: hidden;

    background-size: auto 100vh;
}

.door {
    width: 25vw;
    background-image: url('img/stone.png');
    transition: transform 1s ease;
}

.door-left {
    box-shadow: 0 0 15px 10px black inset;
    left: 0;
}

.door-right {
    box-shadow: 0 0 15px 10px black inset;
    right: 0;
}

.gate-silas {
    background: url('img/silas-low.png');
    background-position: center;
    left: 0;
    top: 0;
}

.gate-thaus {
    background: url('img/thaus-low.png');
    background-position: center;
    right: 0;
    bottom: 0;
}

footer {
    position: fixed;
    z-index: 1000;
    color: #111;
    right: 2em;
    bottom: 2em;
}

@media (max-width: 1200px) {
    body {
        flex-direction: column;
    }

    a,
    span,
    .gate {
        height: 50vh;
        width: 100vw;
        line-height: 50vh;
    }

    .door {
        width: 50vw;
    }

    .gate-silas,
    .gate-thaus {
        background-size: 100vw auto;
    }
}
